@model List<Category>
@section Title{
    Categories
}
@section SubTitle{
    View Categories
}
@section Buttons{
    <a asp-controller="Categories" asp-action="Create" class="btn btn-outline-primary"> Create </a>
}
@*<h2 class="ps-3">All categories</h2>*@
<div class="card-body">
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="2">
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
               There is no categories
					</div>
				</td>
            </tr>
        }
        else
        {
            
       
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
            </td>
            
        </tr>

		} }
        
        
        
    </tbody>
</table>
</div>